*.png
*.pyc
*.class
*.txt
*.swp
*_FIXED*
*.__
# Mobile Tools for Java (J2ME)
.mtj.tmp/
password.py
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
